<GridLayout  rows="*" columns="*,*,*">
    <StackLayout horizontalAlignment="stretch" row="1" col="0" backgroundColor="#beddf2">
        <Image src="~/images/{{getNoteIcon()}}.png"
                stretch="none"
                verticalAlignment="center"
                horizontalAlignment="center"
                marginTop="10"
                (tap)="onNoteClick()" >
        </Image>
    </StackLayout>
    <StackLayout horizontalAlignment="stretch" row="0" col="1" backgroundColor="#beddf2">
        <Image src="~/images/home.png"
                stretch="none"
                verticalAlignment="center"
                horizontalAlignment="center"
                marginTop="10"
                (tap)="onHomeClick()" >
        </Image>
    </StackLayout>
    <StackLayout horizontalAlignment="stretch" row="0" col="2" backgroundColor="#beddf2">
        <Image src="~/images/back.png"
                stretch="none"
                verticalAlignment="center"
                horizontalAlignment="center"
                marginTop="13"
                (tap)="onBackClick()" >
        </Image>
    </StackLayout>
</GridLayout>
