ActionBar {
    background-color:  #305b7d;
    color: white;
}

button, label, stack-layout {
    horizontal-align: center;
}

button {
    font-size: 30;
    background-color: #bfdef3;
}

.title {
    font-size: 30;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    text-align: center;
    margin: 0 20;
} 

Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}

.small-spacing {
  margin: 5;
}
.medium-spacing {
  margin: 10;
}

/****/

ListView {
  opacity: 0;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}


.icon {
   /*font-family: 'icomoon';*/
   font-family: "FontAwesome";
   font-size: 48;
}

/*.heart {
    margin-top: 5;
}*/

.aaa {
    background: red;
}

.main-grid {
    border-width: 1;
    border-color: red;

}

.StackLayout {
    border-width: 1;
    border-color: green;
}